﻿@using TenkiAme.UtilityObjects
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TenkiAme.Models.WeatherModel
@{
    ViewData["Title"] = "TenkiAme ";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="flex flex-col gap-4 md:flex-row flex-grow wid-full">
    <div class="flex flex-row wid-full">
        <div class="flex wid-full min-w-18r flex-col gap-4 md-half-wid">
            <div class="rounded-border-xl border bg-card relative flex wid-full flex-col justify-between overflow-hidden">
                <div class="flex justify-between font-bold p-4 gap-1r font-medium">
                    <div class="flex justify-between">@DateTime.Now.DayOfWeek @Model.WeatherDays[0].GetFormattedCalendarDate()</div>
                    <div class="flex justify-between">Wellington</div>
                </div>
                <div class="flex justify-centre p-4 gap-1r">
                    <div class="flex font-xlarge font-bold font-weight-700">@Model.WeatherDays[0].GetCurrentTemperature()°C</div>
                </div>
                <div class="flex justify-between p-4 gap-1r">
                    <ul class="list-style-none font-bold font-medium padding-left-none">
                        <li>
                            <span>High: @Model.WeatherDays[0].GetMaxTemperature()°C</span>
                        </li>
                        <li>
                            <span>Low: @Model.WeatherDays[0].GetMinTemperature()°C</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rounded-border-xl border bg-card relative flex wid-full flex-col justify-between overflow-hidden">
                <div>
                    <div class="flex justify-between  p-4">
                        <span>@Model.WeatherDays[0].GetFormattedCalendarDate()</span>
                    </div>
                    <div class="flex justify-between  p-4">
                        <span>Min:@Model.WeatherDays[0].GetMinTemperature()</span>
                        <span>Max:@Model.WeatherDays[0].GetMaxTemperature()</span>
                    </div>
                </div>
                <span>@Model.WeatherDays[0].PrintToPage() UV INFO HERE</span>
            </div>
        </div>
        <div class="margin-left grid grid-cols-2 gap-4">
            @for (int i = 0; i < 2; i++)
            {
                <div class="rounded-border-xl border bg-card relative flex wid-full flex-col justify-between overflow-hidden">
                    <div>
                        <div class="flex justify-between  p-4">
                            <span>@Model.WeatherDays[i].GetFormattedCalendarDate()</span>
                        </div>
                        <div class="flex justify-between  p-4">
                            <span>Low: @Model.WeatherDays[i].GetMinTemperature()</span>
                            <span>High: @Model.WeatherDays[i].GetMaxTemperature()</span>
                        </div>
                    </div>
                    <div class="flex justify-centre p-4 gap-1r">
                        <div class="flex font-med font-bold font-weight-700 justify-centre align-vertical-centre"><img src="@Model.WeatherDays[i].GetWeatherImage()" style="height: 100%; width:100%; " class=" " /></div>
                    </div>
                    <div class="flex justify-centre">
                        <div class="flex justify-centre padding-left">SUNRISE: @WeatherUtil.RoundTwilightTime(Model.SunriseSunsets[i].sunrise)</div>
                        <div class="flex justify-centre">SUNSET: @WeatherUtil.RoundTwilightTime(Model.SunriseSunsets[i].sunset)</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="block rounded-border-xl border margin-top overflow-auto">
    <div class="block margin-left">
        <div class="flex">
            <strong>TIME</strong>
        </div>
        <div class="inline-block no-wrap">
            @for (int i = 0; i < 2; i++)
            {
                foreach (var weatherHour in Model.WeatherDays[i].WeatherHours)
                {
                    <div class=" inline-block no-wrap width-hour text-center">
                        @weatherHour.Time.ToString("htt")
                    </div>
                }
            }
        </div>
    </div>
    <div class="block margin-left">
        <div class="flex">
            <strong>RAINFALL (mm/h)</strong>
        </div>
        <div class="inline-block no-wrap">
            @for (int i = 0; i < 2; i++)
            {
                foreach (var weatherHour in Model.WeatherDays[i].WeatherHours)
                {
                    <div class="inline-block width-hour text-center">
                        @weatherHour.Rainfall.ToString()
                    </div>
                }
            }
        </div>
    </div>
    <div class="block margin-left">
        <div class="flex">
            <strong>TEMPERATURE (°C)</strong>
        </div>
        <div class="inline-block no-wrap">
            @for (int i = 0; i < 2; i++)
            {
                foreach (var weatherHour in Model.WeatherDays[i].WeatherHours)
                {
                    <div class="inline-block width-hour text-center">
                        @weatherHour.Temperature.ToString()
                    </div>
                }
            }
        </div>
    </div>
</div>